.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

h3 {
  font-weight: normal;
}

p {
  font-size: 12px;
}

.page-title {
  color: #a3aaae;
}

#shortenButton, #copyButton {
  color: #fff;
  border: 0;
  background-color: #33CC33;
  border-radius: 0 3px 3px 0;
  height: 46px;
}

#copyButton {
  display: none;
}

#recentLinkContainer {
  display: none;
  margin-top: 40px;
}

#existingLinksListContainer {
  margin-top: 40px;
}

a.shortUrl {
   color: #33CC33;
   font-size: 16px;
   text-decoration: none;
   line-height: 20px;
}

a.fullUrl {
  color: #707a80;
  font-size: 12px;
  line-height: 20px;
}

.smallCopyButton {
  margin-left: 15px;
  display: none;
}

.clicksAmount {
  text-decoration: none;
  color: #a3aaae;
}

.shortUrl {
  display: inline-block;
  width: 285px;
}

.clicksAmount {
margin-right: 10px;
}

.glyphicon {
}

.link-list-item {
  border: 0;
  border-bottom: 1px solid #e3e6e7 !important;

}